<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>
<body style="background-color:#f3b173;">

    <h2>Babbage</h2>
    <div align="center">
    <img width="520" height = "320" src="/img/babbage.webp" alt="Una foto de Charles Babbage ">
    <p>Charles Babbage [Walworth (Londres, Reino Unido), 1791 – Marylebone (Londres, Reino Unido), 1871]. Matemático e ingeniero mecánico británico que diseñó y construyó parcialmente la primera máquina calculadora mecánica diferencial y una máquina analítica. Conocido por muchos como el padre de la computación digital.</p>
    <a href="index"> Volver al home</a>
    </div>
</body>

</html>