<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-lee</title>
</head>
<body style="background-color:#869E6D">
    
    <h2>Berners-lee</h2>
    <div align="center">
    <img width="520" height = "320" src="/img/tim berners.jpg" alt="Foto de Berners-lee">
    <p>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.</p>
    <a href="index"> Volver al home</a>
    </div>
</body>
</html>