<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body  style="background-color:#9F80D1;">
    <h2>Hamilton</h2>
    <div align="center">
    <img width="520" height = "320" src="/img/margaret-hamilton.jpg" alt="Foto de Margaret Hamilton">
    <p>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo</p>
    <a href="index"> Volver al home</a>
    </div>
</body>
</html>