<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body style="background-color:#59A4BC;">
    <h2>Hopper</h2>
    <div align="center">
    <img width="520" height = "320" src="/img/grace hopper.jpg" alt="Foto de Grace Murray Hopper">
    <p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I.</p>
    <a href="index"> Volver al home</a>
    </div>
</body>

</html>