<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>

</head>

<body background="/img/54.gif">

</body>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  h1 {
    background-color: rgba(33, 57, 163, 0.473);
    text-align: center;
  }
  
</style>

<ul>
  <li><a href="babbage">babbage</a></li>
  <li><a href="berners-lee">berners-lee</a></li>
  <li><a href="clarke">clarke</a></li>
  <li><a href="hamilton">hamilton</a></li>
  <li><a href="lovelace">lovelance</a></li>
  <li><a href="turing">turing</a></li>
  <li><a href="hopper">hopper</a></li>
</ul>

<h1>Home</h1>

</body>

</html>