<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="background-color:#ED8E71;">
    <h2>Lovelace</h2>
    <div align="center">
    <img width="520" height = "320" src="/img/ada lovelace.jpg" alt="Foto de Augusta Ada King">
    <p>Augusta Ada King, condesa de Lovelace estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica</p>
    <a href="index"> Volver al home</a>
    </div>
</body>
</html>