<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="background-color:#EDAC71;">
    <h2>Turing</h2>
    <div align="center">
    <img width="520" height = "320" src="/img/alan turing.jpg" alt="Foto de Alan Mathison Turing">
    <p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna</p>
    <a href="index"> Volver al home</a>
    </div>
</body>
</html>